/* src/components/Footer/Footer.css */
.footer-inner {
  display:grid;
  grid-template-columns: 1fr;
  gap:14px;
  padding:22px 0;
}
@media(min-width:800px){
  .footer-inner { grid-template-columns: repeat(3,1fr); align-items:start; }
}
